<div class="container-sun">
  <svg  id="sun-worldpopulation-svg-wrapper"
        viewBox="0 0 100 100"
        preserveAspectRatio="xMinYMin meet">
  </svg>

  <svg  id="cloud1-worldpopulation-svg-wrapper"
        class="svg-cloud01"
        viewBox="0 0 100 100"
        preserveAspectRatio="xMinYMin meet">
  </svg>

  <svg  id="cloud2-worldpopulation-svg-wrapper"
        class="svg-cloud02"
        viewBox="0 0 100 100"
        preserveAspectRatio="xMinYMin meet">
  </svg>
</div>

<div class="container-globe">
  <svg  id="globe-worldpopulation-svg-wrapper"
        class="svg-earth"
        viewBox="0 0 170 170"
        preserveAspectRatio="xMinYMin meet">
  </svg>
</div>

<div class="container-europe">
  <svg  id="stat-europe-worldpopulation-svg-wrapper"
        class="svgdonut"
        viewBox="-280 -15 250 250"
        preserveAspectRatio="xMinYMin meet">
  </svg>

  <svg  id="europe-worldpopulation-svg-wrapper"
        class="svg-europe"
        viewBox="84 72 497.3 453.7"
        preserveAspectRatio="xMinYMin meet">
  </svg>
</div>
