<header class="title">
	<div class="container">
		<div class="intro">
			<h1>Population growth on this planet</h1>
			<p>Growth expected by <strong>the year 2050</strong>.</p>
		</div>
	</div>
</header>

<div class="container-sun">
  <svg  id="sun-worldpopulation-svg-wrapper"
        viewBox="0 0 100 100"
        preserveAspectRatio="xMinYMin meet">
  </svg>

  <svg  id="cloud1-worldpopulation-svg-wrapper"
        class="svg-cloud01"
        viewBox="0 0 100 100"
        preserveAspectRatio="xMinYMin meet">
  </svg>

  <svg  id="cloud2-worldpopulation-svg-wrapper"
        class="svg-cloud02"
        viewBox="0 0 100 100"
        preserveAspectRatio="xMinYMin meet">
  </svg>
</div>

<div class="container-globe">
  <svg  id="globe-worldpopulation-svg-wrapper"
        class="svg-earth"
        viewBox="0 0 170 170"
        preserveAspectRatio="xMinYMin meet">
  </svg>
</div>

<div class="container-europe">
  <h1>Population growth in Europe by the year 2050</h1>
  <p>2015 the population is 743 million - In 2050 population wil be 709 million</p>
  <hr>

  <svg  id="stat-europe-worldpopulation-svg-wrapper"
        class="svgdonut"
        viewBox="-280 -15 250 250"
        preserveAspectRatio="xMinYMin meet">
  </svg>

  <svg  id="europe-worldpopulation-svg-wrapper"
        class="svg-europe"
        viewBox="84 72 497.3 453.7"
        preserveAspectRatio="xMinYMin meet">
  </svg>
</div>

<div class="container-northamerica">
	<h1>Population growth in North America by the year 2050</h1>
	<p>2015 population is 361 million - In 2050 population wil be 446 million</p>
	<hr>

	<svg  id="stat-northamerica-worldpopulation-svg-wrapper"
        class="svgdonut"
        viewBox="-280 -15 250 250"
        preserveAspectRatio="xMinYMin meet">
  </svg>

	<svg	id="northamerica-worldpopulation-svg-wrapper"
				class="svg-northamerica"
				viewBox="0 0 100 100"
				preserveAspectRatio="xMinYMin meet">
	</svg>
</div>

<div class="container-southamerica">
	<h1>Population growth in South America by the year 2050</h1>
	<p>2015 population is 630 million - In 2050 population wil be 782 million</p>
	<hr>

	<svg  id="stat-southamerica-worldpopulation-svg-wrapper"
        class="svgdonut"
        viewBox="-280 -15 250 250"
        preserveAspectRatio="xMinYMin meet">
  </svg>

	<svg	id="southamerica-worldpopulation-svg-wrapper"
				class="svg-southamerica"
				viewBox="0 0 100 100"
				preserveAspectRatio="xMinYMin meet">
	</svg>
</div>

<div class="container-africa">
	<h1>Population growth in Africa by the year 2050</h1>
	<p>2015 population is 1,166 million - In 2050 population wil be 2,393 million</p>
	<hr>

	<svg  id="stat-africa-worldpopulation-svg-wrapper"
        class="svgdonut"
        viewBox="-280 -15 250 250"
        preserveAspectRatio="xMinYMin meet">
  </svg>

	<svg	id="africa-worldpopulation-svg-wrapper"
				class="svg-africa"
				viewBox="0 0 100 100"
				preserveAspectRatio="xMinYMin meet">
	</svg>
</div>


<div class="container-asia">
	<h1>Population growth in Asia by the year 2050</h1>
	<p>2015 population is 4,385 million - In 2050 population wil be 5,164 million</p>
	<hr>

	<svg  id="stat-asia-worldpopulation-svg-wrapper"
        class="svgdonut"
        viewBox="-280 -15 250 250"
        preserveAspectRatio="xMinYMin meet">
  </svg>

	<svg	id="asia-worldpopulation-svg-wrapper"
				class="svg-asia"
				viewBox="0 0 612 792"
				preserveAspectRatio="xMinYMin meet">
	</svg>
</div>
