<header class="title">
	<div class="container">
		<div class="intro">
			<h1>Population growth on this planet</h1>
			<p>Growth expected by <strong>the year 2050</strong>.</p>
		</div>
	</div>
</header>

<div class="container-sun">
  <svg  id="sun-worldpopulation-svg-wrapper"
        viewBox="0 0 100 100"
        preserveAspectRatio="xMinYMin meet">
  </svg>

  <svg  id="cloud1-worldpopulation-svg-wrapper"
        class="svg-cloud01"
        viewBox="0 0 100 100"
        preserveAspectRatio="xMinYMin meet">
  </svg>

  <svg  id="cloud2-worldpopulation-svg-wrapper"
        class="svg-cloud02"
        viewBox="0 0 100 100"
        preserveAspectRatio="xMinYMin meet">
  </svg>
</div>

<div class="container-globe">
  <svg  id="globe-worldpopulation-svg-wrapper"
        class="svg-earth"
        viewBox="0 0 170 170"
        preserveAspectRatio="xMinYMin meet">
  </svg>
</div>

<div class="container-europe">
  <h1>Population growth in Europe by the year 2050</h1>
  <p>2014 the population is 731 million - In 2050 population wil be 628 million</p>
  <hr>
  
  <svg  id="stat-europe-worldpopulation-svg-wrapper"
        class="svgdonut"
        viewBox="-280 -15 250 250"
        preserveAspectRatio="xMinYMin meet">
  </svg>

  <svg  id="europe-worldpopulation-svg-wrapper"
        class="svg-europe"
        viewBox="84 72 497.3 453.7"
        preserveAspectRatio="xMinYMin meet">
  </svg>
</div>
