html, body {
  margin: 20px;
}

#svg-wrapper {
  width: 600px;
  height: 600px;
}

#snapsvg-wrapper {
  width: 600px;
  height: 600px;
}

.svgjs-rectangle-style {
  background: #DBD7CD;
}

.svgjs-clock-style {
  background: #2A2F33;
}

.snapsvg-clock-style {
  background: #70607A;
}
