[id$=sticker], [id$=label], [id$=mascot] {
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  -moz-transition: -moz-transform 0.25s ease-in-out;
  -o-transition: -o-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}

[id$=sticker] {
  -webkit-transform: scale(0.6, 0.6);
  -moz-transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  -o-transform: scale(0.6, 0.6);
  transform: scale(0.6, 0.6);
}

#emberjs-sticker {
  -webkit-transform-origin: 105px 1010px;
  -moz-transform-origin: 105px 1010px;;
  -ms-transform-origin: 105px 1010px;
  -o-transform-origin: 105px 1010px;
  transform-origin: 105px 1010px;
}

#bower-sticker {
  -webkit-transform-origin: 105px 1010px;
  -moz-transform-origin: 105px 1010px;
  -ms-transform-origin: 105px 1010px;
  -o-transform-origin: 105px 1010px;
  transform-origin: 105px 1010px;
}

g #emberjs:hover [id$=sticker], g #emberjs:hover [id$=mascot],
  g #bower:hover [id$=sticker], g #bower:hover [id$=mascot] {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

[id$=label] {
  -webkit-transform: scale(0.97) translate(-15px, 48px);
  -moz-transform: scale(0.97) translate(-15px, 48px);
  -ms-transform: scale(0.97) translate(-15px, 48px);
  -o-transform: scale(0.97) translate(-15px, 48px);
  transform: scale(0.97) translate(-15px, 48px);
}

#emberjs-label {
  -webkit-transform-origin: 0px 0px;
  -moz-transform-origin: 0px 0px;
  -ms-transform-origin: 0px 0px;
  -o-transform-origin: 0px 0px;
  transform-origin: 0px 0px;
}

#bower-label {
  -webkit-transform-origin: -2010px 30px;
  -moz-transform-origin: -2010px 30px;
  -ms-transform-origin: -2010px 30px;
  -o-transform-origin: -2010px 30px;
  transform-origin: -2010px 30px;
}

g #emberjs:hover [id$=label], g #bower:hover [id$=label] {
  -webkit-transform: scale(1) translate(0px, 0px);
  -moz-transform: scale(1) translate(0px, 0px);
  -ms-transform: scale(1) translate(0px, 0px);
  -o-transform: scale(1) translate(0px, 0px);
  transform: scale(1) translate(0px, 0px);
}

[id$=mascot] {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}

#emberjs-mascot {
  -webkit-transform-origin: 105px 1010px;
  -moz-transform-origin: 105px 1010px;
  -ms-transform-origin: 105px 1010px;
  -o-transform-origin: 105px 1010px;
  transform-origin: 105px 1010px;
}

#bower-mascot {
  -webkit-transform-origin: 185px 1010px;
  -moz-transform-origin: 185px 1010px;
  -ms-transform-origin: 185px 1010px;
  -o-transform-origin: 185px 1010px;
  transform-origin: 185px 1010px;
}
