/* --- Gloabal Initialisation --- */
[id$=sticker], [id$=label], [id$=mascot] {
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  -moz-transition: -moz-transform 0.25s ease-in-out;
  -o-transition: -o-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}

/* --- Sticker Initialisation --- */
[id$=sticker] {
  -webkit-transform: scale(0.6, 0.6);
  -moz-transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  -o-transform: scale(0.6, 0.6);
  transform: scale(0.6, 0.6);
}
/* Row 1 */
#emberjs-sticker {
  -webkit-transform-origin: 105px 1010px;
  -moz-transform-origin: 105px 1010px;;
  -ms-transform-origin: 105px 1010px;
  -o-transform-origin: 105px 1010px;
  transform-origin: 105px 1010px;
}
#bower-sticker {
  -webkit-transform-origin: 105px 1010px;
  -moz-transform-origin: 105px 1010px;
  -ms-transform-origin: 105px 1010px;
  -o-transform-origin: 105px 1010px;
  transform-origin: 105px 1010px;
}
#broccolijs-sticker {
  -webkit-transform-origin: 195px 1010px;
  -moz-transform-origin: 195px 1010px;
  -ms-transform-origin: 195px 1010px;
  -o-transform-origin: 195px 1010px;
  transform-origin: 195px 1010px;
}
/* Row 2 */
#coffeescript-sticker {
  -webkit-transform-origin: 105px 1020px;
  -moz-transform-origin: 105px 1020px;;
  -ms-transform-origin: 105px 1020px;
  -o-transform-origin: 105px 1020px;
  transform-origin: 105px 1020px;
}
#html-sticker {
  -webkit-transform-origin: 105px 1020px;
  -moz-transform-origin: 105px 1020px;
  -ms-transform-origin: 105px 1020px;
  -o-transform-origin: 105px 1020px;
  transform-origin: 105px 1020px;
}
#handlebars-sticker {
  -webkit-transform-origin: 195px 1020px;
  -moz-transform-origin: 195px 1020px;
  -ms-transform-origin: 195px 1020px;
  -o-transform-origin: 195px 1020px;
  transform-origin: 195px 1020px;
}

/* --- Label Initialisation --- */
[id$=label] {
  -webkit-transform: scale(0.97) translate(-15px, 51px);
  -moz-transform: scale(0.97) translate(-15px, 51px);
  -ms-transform: scale(0.97) translate(-15px, 51px);
  -o-transform: scale(0.97) translate(-15px, 51px);
  transform: scale(0.97) translate(-15px, 51px);
}
/* Row 1 */
#emberjs-label {
  -webkit-transform-origin: 0px 25px;
  -moz-transform-origin: 0px 25px;
  -ms-transform-origin: 0px 25px;
  -o-transform-origin: 0px 25px;
  transform-origin: 0px 25px;
}
#bower-label {
  -webkit-transform-origin: -2010px 25px;
  -moz-transform-origin: -2010px 25px;
  -ms-transform-origin: -2010px 25px;
  -o-transform-origin: -2010px 25px;
  transform-origin: -2010px 25px;
}
#broccolijs-label {
  -webkit-transform-origin: -1425px 25px;
  -moz-transform-origin: -1425px 25px;
  -ms-transform-origin: -1425px 25px;
  -o-transform-origin: -1425px 25px;
  transform-origin: -1425px 25px;
}
/* Row 2 */
#coffeescript-label {
  -webkit-transform-origin: 220px -625px;
  -moz-transform-origin: 220px -625px;
  -ms-transform-origin: 220px -625px;
  -o-transform-origin: 220px -625px;
  transform-origin: 220px -625px;
}
#html-label {
  -webkit-transform-origin: -2100px -625px;
  -moz-transform-origin: -2100px -625px;
  -ms-transform-origin: -2100px -625px;
  -o-transform-origin: -2100px -625px;
  transform-origin: -2100px -625px;
}
#handlebars-label {
  -webkit-transform-origin: -1400px -625px;
  -moz-transform-origin: -1400px -625px;
  -ms-transform-origin: -1400px -625px;
  -o-transform-origin: -1400px -625px;
  transform-origin: -1400px -625px;
}

/* --- Mascot Initialisation --- */
[id$=mascot] {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
#emberjs-mascot {
  -webkit-transform-origin: 90px 1010px;
  -moz-transform-origin: 90px 1010px;
  -ms-transform-origin: 90px 1010px;
  -o-transform-origin: 90px 1010px;
  transform-origin: 90px 1010px;
}
#bower-mascot {
  -webkit-transform-origin: 175px 1010px;
  -moz-transform-origin: 175px 1010px;
  -ms-transform-origin: 175px 1010px;
  -o-transform-origin: 175px 1010px;
  transform-origin: 175px 1010px;
}
#broccolijs-mascot {
  -webkit-transform-origin: 255px 1010px;
  -moz-transform-origin: 255px 1010px;
  -ms-transform-origin: 255px 1010px;
  -o-transform-origin: 255px 1010px;
  transform-origin: 255px 1010px;
}
/* Row 2 */
#coffeescript-mascot {
  -webkit-transform-origin: 87px 1055px;
  -moz-transform-origin: 87px 1055px;
  -ms-transform-origin: 87px 1055px;
  -o-transform-origin: 87px 1055px;
  transform-origin: 87px 1055px;
}
#html-mascot {
  -webkit-transform-origin: 170px 1055px;
  -moz-transform-origin: 170px 1055px;
  -ms-transform-origin: 170px 1055px;
  -o-transform-origin: 170px 1055px;
  transform-origin: 170px 1055px;
}
#handlebars-mascot {
  -webkit-transform-origin: 254px 1055px;
  -moz-transform-origin: 254px 1055px;
  -ms-transform-origin: 254px 1055px;
  -o-transform-origin: 254px 1055px;
  transform-origin: 254px 1055px;
}

/* --- Hover Animation --- */
/* Animate Sticker & Mascot */
g #emberjs:hover [id$=sticker], g #emberjs:hover [id$=mascot],
  g #bower:hover [id$=sticker], g #bower:hover [id$=mascot],
    g #broccolijs:hover [id$=sticker], g #broccolijs:hover [id$=mascot],
      g #coffeescript:hover [id$=sticker], g #coffeescript:hover [id$=mascot],
        g #html:hover [id$=sticker], g #html:hover [id$=mascot],
          g #handlebars:hover [id$=sticker], g #handlebars:hover [id$=mascot]{
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* Animate Label */
g #emberjs:hover [id$=label], g #bower:hover [id$=label],
  g #broccolijs:hover [id$=label], g #coffeescript:hover [id$=label],
    g #html:hover [id$=label], g #handlebars:hover [id$=label] {
  -webkit-transform: scale(1) translate(0px, 0px);
  -moz-transform: scale(1) translate(0px, 0px);
  -ms-transform: scale(1) translate(0px, 0px);
  -o-transform: scale(1) translate(0px, 0px);
  transform: scale(1) translate(0px, 0px);
}
/* --- On Animation: Move Right Container Slightly To Right-Handside --- */
/* Row 1 */
/* Hover on Emberjs */
g #emberjs:hover + #bower [id$=sticker] {
  -webkit-transform-origin: 155px 1010px;
  -moz-transform-origin: 155px 1010px;
  -ms-transform-origin: 155px 1010px;
  -o-transform-origin: 155px 1010px;
  transform-origin: 155px 1010px;
}
g #emberjs:hover + #bower [id$=label] {
  -webkit-transform-origin: -1310px 30px;
  -moz-transform-origin: -1310px 30px;
  -ms-transform-origin: -1310px 30px;
  -o-transform-origin: -1310px 30px;
  transform-origin: -1310px 30px;
}
g #emberjs:hover + #bower + #broccolijs [id$=sticker] {
  -webkit-transform-origin: 245px 1010px;
  -moz-transform-origin: 245px 1010px;
  -ms-transform-origin: 245px 1010px;
  -o-transform-origin: 245px 1010px;
  transform-origin: 245px 1010px;
}
g #emberjs:hover + #bower + #broccolijs [id$=label] {
  -webkit-transform-origin: -735px 30px;
  -moz-transform-origin: -735px 30px;
  -ms-transform-origin: -735px 30px;
  -o-transform-origin: -735px 30px;
  transform-origin: -735px 30px;
}
/* Hover on Bower */
g #bower:hover + #broccolijs [id$=sticker] {
  -webkit-transform-origin: 385px 1010px;
  -moz-transform-origin: 385px 1010px;
  -ms-transform-origin: 385px 1010px;
  -o-transform-origin: 385px 1010px;
  transform-origin: 385px 1010px;
}
g #bower:hover + #broccolijs [id$=label] {
  -webkit-transform-origin: 1120px 30px;
  -moz-transform-origin: 1120px 30px;
  -ms-transform-origin: 1120px 30px;
  -o-transform-origin: 1120px 30px;
  transform-origin: 1120px 30px;
}
/* Row 2 */
/* Hover on coffeescript */
g #coffeescript:hover + #html [id$=sticker] {
  -webkit-transform-origin: 155px 1020px;
  -moz-transform-origin: 155px 1020px;
  -ms-transform-origin: 155px 1020px;
  -o-transform-origin: 155px 1020px;
  transform-origin: 155px 1020px;
}
g #coffeescript:hover + #html [id$=label] {
  -webkit-transform-origin: -1310px -630px;
  -moz-transform-origin: -1310px -630px;
  -ms-transform-origin: -1310px -630px;
  -o-transform-origin: -1310px -630px;
  transform-origin: -1310px -630px;
}
g #coffeescript:hover + #html + #handlebars [id$=sticker] {
  -webkit-transform-origin: 245px 1020px;
  -moz-transform-origin: 245px 1020px;
  -ms-transform-origin: 245px 1020px;
  -o-transform-origin: 245px 1020px;
  transform-origin: 245px 1020px;
}
g #coffeescript:hover + #html + #handlebars [id$=label] {
  -webkit-transform-origin: -635px -630px;
  -moz-transform-origin: -635px -630px;
  -ms-transform-origin: -635px -630px;
  -o-transform-origin: -635px -630px;
  transform-origin: -635px -630px;
}
/* Hover on html */
g #html:hover + #handlebars [id$=sticker] {
  -webkit-transform-origin: 385px 1020px;
  -moz-transform-origin: 385px 1020px;
  -ms-transform-origin: 385px 1020px;
  -o-transform-origin: 385px 1020px;
  transform-origin: 385px 1020px;
}
g #html:hover + #handlebars [id$=label] {
  -webkit-transform-origin: 1120px -630px;
  -moz-transform-origin: 1120px -630px;
  -ms-transform-origin: 1120px -630px;
  -o-transform-origin: 1120px -630px;
  transform-origin: 1260px -630px;
}
/* --- On Animation: Move Bottom Container Slightly Downward --- */
/* Row 1 */
/* Hover on Emberjs */
g #emberjs:hover + #bower + #broccolijs + #coffeescript [id$=sticker] {
  -webkit-transform-origin: 105px 1080px;
  -moz-transform-origin: 105px 1080px;
  -ms-transform-origin: 105px 1080px;
  -o-transform-origin: 105px 1080px;
  transform-origin: 105px 1080px;
}
g #emberjs:hover + #bower + #broccolijs + #coffeescript [id$=label] {
  -webkit-transform-origin: 220px 175px;
  -moz-transform-origin: 220px 175px;
  -ms-transform-origin: 220px 175px;
  -o-transform-origin: 220px 175px;
  transform-origin: 220px 175px;
}
g #emberjs:hover + #bower + #broccolijs + #coffeescript + #html [id$=sticker] {
  -webkit-transform-origin: 105px 1080px;
  -moz-transform-origin: 105px 1080px;
  -ms-transform-origin: 105px 1080px;
  -o-transform-origin: 105px 1080px;
  transform-origin: 105px 1080px;
}
g #emberjs:hover + #bower + #broccolijs + #coffeescript + #html [id$=label] {
  -webkit-transform-origin: -2100px 175px;
  -moz-transform-origin: -2100px 175px;
  -ms-transform-origin: -2100px 175px;
  -o-transform-origin: -2100px 175px;
  transform-origin: -2100px 175px;
}
/* Hover on Bower */
g #bower:hover + #broccolijs + #coffeescript + #html [id$=sticker] {
  -webkit-transform-origin: 105px 1080px;
  -moz-transform-origin: 105px 1080px;
  -ms-transform-origin: 105px 1080px;
  -o-transform-origin: 105px 1080px;
  transform-origin: 105px 1080px;
}
g #bower:hover + #broccolijs + #coffeescript + #html [id$=label] {
  -webkit-transform-origin: -2100px 175px;
  -moz-transform-origin: -2100px 175px;
  -ms-transform-origin: -2100px 175px;
  -o-transform-origin: -2100px 175px;
  transform-origin: -2100px 175px;
}
g #bower:hover + #broccolijs + #coffeescript + #html + #handlebars [id$=sticker] {
  -webkit-transform-origin: 195px 1080px;
  -moz-transform-origin: 195px 1080px;
  -ms-transform-origin: 195px 1080px;
  -o-transform-origin: 195px 1080px;
  transform-origin: 195px 1080px;
}
g #bower:hover + #broccolijs + #coffeescript + #html + #handlebars [id$=label] {
  -webkit-transform-origin: -1400px 175px;
  -moz-transform-origin: -1400px 175px;
  -ms-transform-origin: -1400px 175px;
  -o-transform-origin: -1400px 175px;
  transform-origin: -1400px 175px;
}
/* Hover on Broccoli.js */
g #broccolijs:hover + #coffeescript + #html + #handlebars [id$=sticker] {
  -webkit-transform-origin: 195px 1080px;
  -moz-transform-origin: 195px 1080px;
  -ms-transform-origin: 195px 1080px;
  -o-transform-origin: 195px 1080px;
  transform-origin: 195px 1080px;
}
g #broccolijs:hover + #coffeescript + #html + #handlebars [id$=label] {
  -webkit-transform-origin: -1400px 175px;
  -moz-transform-origin: -1400px 175px;
  -ms-transform-origin: -1400px 175px;
  -o-transform-origin: -1400px 175px;
  transform-origin: -1400px 175px;
}
