{{bs-page-header
  title   =   "Infographic - Intraday"}}

<p>
  Source of inspiration for this example:
  <a href="http://tympanus.net/codrops/2013/02/06/interactive-infographic-with-svg-and-css-animations/" target="_blank">
    Tutorial - Interactive Infographic with SVG and CSS Animations
  </a>
</p>

{{intraday-designer-infographic}}

{{outlet}}
