{{bs-page-header
  title   =   "Infographic - World Population"}}

<p>
  Source of inspiration for this example:
  <a href="http://designmodo.com/svg-infographic/" target="_blank">
    Tutorial - Creating a Scalable SVG Infographic
  </a>
</p>

{{world-population-infographic}}

{{outlet}}
