<p>
  Sources of inspiration for this example:
  <ul>
    <li>
      <a href="http://jsfiddle.net/wout/Vac2Q/light/" target="_blank">
        Example of svg.js animation
      </a>
    </li>
    <li>
      <a href="http://svgjs.com/" target="_blank">
        Offical svg.js library's clock example
      </a>
    </li>
  </ul>
</p>

{{svg-clock-swissrailway}}

{{outlet}}
