<p>
  Sources of inspiration for this example:
  <ul>
    <li>
      <a href="http://jsfiddle.net/wout/Vac2Q/light/" target="_blank">
        Example of svg.js animation
      </a>
    </li>
    <li>
      <a href="http://stackoverflow.com/questions/21138072/how-to-make-an-ember-component-with-svg-js" target="_blank">
        How to make an Ember component with svg.js?
      </a>
    </li>
  </ul>
</p>

{{svg-snappy-rectangle}}

{{outlet}}
