.container-sun{
  background-color: #2980b9;
  position: relative;
  text-align: center;
}

/* Sun: the svg element */
.svg-sun{
  height:300px;
  width:300px;

  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  -webkit-transform-origin: center center;
  transform-origin: 50% 50%;

  -o-animation: spin 25s linear infinite, sun-glow 3s 0s linear infinite;
  -moz-animation: spin 25s linear infinite, sun-glow 3s 0s linear infinite;
  -ms-animation: spin 25s linear infinite, sun-glow 3s 0s ease-in-out infinite;
  -webkit-animation: spin 25s linear infinite, sun-glow 3s 0s linear infinite;
  animation: spin 25s linear infinite,sun-glow 3s 0s linear infinite;
}

/* Sun: the circle element in the svg itself */
#sun{
  stroke-dasharray: 2;
  stroke-dashoffset: 2;
  stroke-width: 18;
}

/* animation for the sun glowing effect */
@-webkit-keyframes sun-glow {
    0% { fill: #f1c40f; stroke: #f1c40f;}
    50% { fill: #e67e22; stroke: #e67e22;}
    100% { fill: #f1c40f; stroke: #f1c40f;}
}
@-moz-keyframes sun-glow {
    0% { fill: #f1c40f; stroke: #f1c40f;}
    50% { fill: #e67e22; stroke: #e67e22;}
    100% { fill: #f1c40f; stroke: #f1c40f;}
}
@-o-keyframes sun-glow {
    0% { fill: #f1c40f; stroke: #f1c40f;}
    50% { fill: #e67e22; stroke: #e67e22;}
    100% { fill: #f1c40f; stroke: #f1c40f;}
}
@-ms-keyframes sun-glow {
    0% { fill: #f1c40f; stroke: #f1c40f;}
    50% { fill: #e67e22; stroke: #e67e22;}
    100% { fill: #f1c40f; stroke: #f1c40f;}
}
@keyframes sun-glow {
    0% { fill: #f1c40f; stroke: #f1c40f;}
    50% { fill: #e67e22; stroke: #e67e22;}
    100% { fill: #f1c40f; stroke: #f1c40f;}
}

/* start sun spin animation */
@-webkit-keyframes spin{
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spin{
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-o-keyframes spin{
    100% {
        -o-transform: rotate(360deg);
    }
}
@-ms-keyframes spin{
    100% {
        -ms-transform: rotate(360deg);
    }
}
@keyframes spin{
    100% {
        transform: rotate(360deg);
    }
}

/* Cloud: the svg element */
.svg-cloud01 {
  fill: #ecf0f1;
  height: 55%;
  left: -100px;
  overflow-x: hidden;
  position: absolute;
  width: 55%;
  top: 0;
  z-index: 100;

  -o-animation: drift 25s linear infinite;
  -moz-animation: drift 25s linear infinite;
  -ms-animation: drift 25s linear infinite;
  -webkit-animation: drift 25s linear infinite;
  animation: drift 25s linear infinite;
}

.svg-cloud02 {
  fill: #ecf0f1;
  height: 34%;
  left: -100px;
  overflow-x: hidden;
  position: absolute;
  top: 100px;
  width: 34%;
  z-index: 200;

  -o-animation: drift 10s linear infinite backwards;
  -moz-animation: drift 10s linear infinite backwards;
  -ms-animation: drift 10s linear infinite backwards;
  -webkit-animation: drift 10s linear infinite backwards;
  animation: drift 10s linear infinite backwards;
}

/* Animation for the drifting clouds */
@-webkit-keyframes drift {
  0% {opacity: 1;-webkit-transform: translateX(200px);}
  100% {opacity: 1;-webkit-transform: translateX(150%);}
}
@-moz-keyframes drift {
  0% {opacity: 1;-moz-transform: translateX(200px);}
  100% {opacity: 1;-moz-transform: translateX(150%);}
}
@-o-keyframes drift {
  0% {opacity: 1;-o-transform: translateX(200px);}
  100% {opacity: 1;-o-transform: translateX(150%);}
}
@-ms-keyframes drift {
  0% {opacity: 1;-ms-transform: translateX(200px);}
  100% {opacity: 1;-ms-transform: translateX(150%);}
}
@keyframes drift {
    0% {opacity: 1;transform: translateX(200px);}
    100% {opacity: 1;transform: translateX(150%);}
}

/* Globe: the svg element */
.container-globe{
  background-color: #1abc9c;
  padding-top: 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.svg-earth{
  fill: #16a085;
  height: 400px;
  width: 400px;

  -o-transform-origin: center center;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: center center;
  -webkit-transform-origin: center center;
  transform-origin: 50% 50%;

  -o-animation:spin 20s ease-in-out infinite;
  -ms-animation:spin 20s ease-in-out infinite;
  -moz-animation:spin 20s ease-in-out infinite;
  -webkit-animation:spin 20s ease-in-out infinite;
  animation:spin 20s ease-in-out infinite;
}

.svg-man-01,
.svg-man-02,
.svg-man-03,
.svg-man-04,
.svg-man-05,
.svg-man-06,
.svg-man-07,
.svg-man-08,
.svg-man-09,
.svg-man-10,
.svg-man-11,
.svg-man-12,
.svg-man-13,
.svg-man-14,
.svg-man-15,
.svg-man-16{
  -o-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% bottom;
  transform-origin:50% bottom;
}

.svg-man-01{
  animation:man-glow 5s ease-in-out alternate infinite 1s, big 5s infinite 1s;
  -o-animation:man-glow 5s ease-in-out alternate infinite 1s, big 5s infinite 1s;
  -moz-animation:man-glow 5s ease-in-out alternate infinite 1s, big 5s infinite 1s;
  -ms-animation:man-glow 5s ease-in-out alternate infinite 1s, big 5s infinite 1s;
  -webkit-animation:man-glow 5s ease-in-out alternate infinite 1s, big 5s infinite 1s;
}

.svg-man-02{
  animation:man-glow 5s ease-in-out alternate infinite 2s, big 5s infinite 2s;
  -o-animation:man-glow 5s ease-in-out alternate infinite 2s, big 5s infinite 2s;
  -moz-animation:man-glow 5s ease-in-out alternate infinite 2s, big 5s infinite 2s;
  -ms-animation:man-glow 5s ease-in-out alternate infinite 2s, big 5s infinite 2s;
  -webkit-animation:man-glow 5s ease-in-out alternate infinite 2s, big 5s infinite 2s;
}

.svg-man-03{
  animation:man-glow 5s ease-in-out alternate infinite 3s, big 5s infinite 3s;
  -o-animation:man-glow 5s ease-in-out alternate infinite 3s, big 5s infinite 3s;
  -moz-animation:man-glow 5s ease-in-out alternate infinite 3s, big 5s infinite 3s;
  -ms-animation:man-glow 5s ease-in-out alternate infinite 3s, big 5s infinite 3s;
  -webkit-animation:man-glow 5s ease-in-out alternate infinite 3s, big 5s infinite 3s;
}

.svg-man-04{
  animation:man-glow 5s ease-in-out alternate infinite 4s, big 5s infinite 4s;
  -o-animation:man-glow 5s ease-in-out alternate infinite 4s, big 5s infinite 4s;
  -moz-animation:man-glow 5s ease-in-out alternate infinite 4s, big 5s infinite 4s;
  -ms-animation:man-glow 5s ease-in-out alternate infinite 4s, big 5s infinite 4s;
  -webkit-animation:man-glow 5s ease-in-out alternate infinite 4s, big 5s infinite 4s;
}

.svg-man-05{
  animation:man-glow 5s ease-in-out alternate infinite 5s, big 5s infinite 5s;
  -o-animation:man-glow 5s ease-in-out alternate infinite 5s, big 5s infinite 5s;
  -moz-animation:man-glow 5s ease-in-out alternate infinite 5s, big 5s infinite 5s;
  -ms-animation:man-glow 5s ease-in-out alternate infinite 5s, big 5s infinite 5s;
  -webkit-animation:man-glow 5s ease-in-out alternate infinite 5s, big 5s infinite 5s;
}

.svg-man-06{
  animation:man-glow 5s ease-in-out alternate infinite 6s, big 5s infinite 6s;
  -o-animation:man-glow 5s ease-in-out alternate infinite 6s, big 5s infinite 6s;
  -moz-animation:man-glow 5s ease-in-out alternate infinite 6s, big 5s infinite 6s;
  -ms-animation:man-glow 5s ease-in-out alternate infinite 6s, big 5s infinite 6s;
  -webkit-animation:man-glow 5s ease-in-out alternate infinite 6s, big 5s infinite 6s;
}

.svg-man-07{
  animation:man-glow 5s ease-in-out alternate infinite 7s, big 5s infinite 7s;
  -o-animation:man-glow 5s ease-in-out alternate infinite 7s, big 5s infinite 7s;
  -moz-animation:man-glow 5s ease-in-out alternate infinite 7s, big 5s infinite 7s;
  -ms-animation:man-glow 5s ease-in-out alternate infinite 7s, big 5s infinite 7s;
  -webkit-animation:man-glow 5s ease-in-out alternate infinite 7s, big 5s infinite 7s;
}

.svg-man-08{
  animation:man-glow 5s ease-in-out alternate infinite 8s, big 5s infinite 8s;
  -o-animation:man-glow 5s ease-in-out alternate infinite 8s, big 5s infinite 8s;
  -moz-animation:man-glow 5s ease-in-out alternate infinite 8s, big 5s infinite 8s;
  -ms-animation:man-glow 5s ease-in-out alternate infinite 8s, big 5s infinite 8s;
  -webkit-animation:man-glow 5s ease-in-out alternate infinite 8s, big 5s infinite 8s;
}

.svg-man-09{
  animation:man-glow 5s ease-in-out alternate infinite 9s, big 5s infinite 9s;
  -o-animation:man-glow 5s ease-in-out alternate infinite 9s, big 5s infinite 9s;
  -moz-animation:man-glow 5s ease-in-out alternate infinite 9s, big 5s infinite 9s;
  -ms-animation:man-glow 5s ease-in-out alternate infinite 9s, big 5s infinite 9s;
  -webkit-animation:man-glow 5s ease-in-out alternate infinite 9s, big 5s infinite 9s;
}

.svg-man-10{
  animation:man-glow 5s ease-in-out alternate infinite 10s, big 5s infinite 10s;
  -o-animation:man-glow 5s ease-in-out alternate infinite 10s, big 5s infinite 10s;
  -moz-animation:man-glow 5s ease-in-out alternate infinite 10s, big 5s infinite 10s;
  -ms-animation:man-glow 5s ease-in-out alternate infinite 10s, big 5s infinite 10s;
  -webkit-animation:man-glow 5s ease-in-out alternate infinite 10s, big 5s infinite 10s;
}

.svg-man-11{
  animation:man-glow 5s ease-in-out alternate infinite 11s, big 5s infinite 11s;
  -o-animation:man-glow 5s ease-in-out alternate infinite 11s, big 5s infinite 11s;
  -moz-animation:man-glow 5s ease-in-out alternate infinite 11s, big 5s infinite 11s;
  -ms-animation:man-glow 5s ease-in-out alternate infinite 11s, big 5s infinite 11s;
  -webkit-animation:man-glow 5s ease-in-out alternate infinite 11s, big 5s infinite 11s;
}

.svg-man-12{
  animation:man-glow 5s ease-in-out alternate infinite 12s, big 5s infinite 12s;
  -o-animation:man-glow 5s ease-in-out alternate infinite 12s, big 5s infinite 12s;
  -moz-animation:man-glow 5s ease-in-out alternate infinite 12s, big 5s infinite 12s;
  -ms-animation:man-glow 5s ease-in-out alternate infinite 12s, big 5s infinite 12s;
  -webkit-animation:man-glow 5s ease-in-out alternate infinite 12s, big 5s infinite 12s;
}

.svg-man-13{
  animation:man-glow 5s ease-in-out alternate infinite 13s, big 5s infinite 13s;
  -o-animation:man-glow 5s ease-in-out alternate infinite 13s, big 5s infinite 13s;
  -moz-animation:man-glow 5s ease-in-out alternate infinite 13s, big 5s infinite 13s;
  -ms-animation:man-glow 5s ease-in-out alternate infinite 13s, big 5s infinite 13s;
  -webkit-animation:man-glow 5s ease-in-out alternate infinite 13s, big 5s infinite 13s;
}

.svg-man-14{
  animation:man-glow 5s ease-in-out alternate infinite 14s, big 5s infinite 14s;
  -o-animation:man-glow 5s ease-in-out alternate infinite 14s, big 5s infinite 14s;
  -moz-animation:man-glow 5s ease-in-out alternate infinite 14s, big 5s infinite 14s;
  -ms-animation:man-glow 5s ease-in-out alternate infinite 14s, big 5s infinite 14s;
  -webkit-animation:man-glow 5s ease-in-out alternate infinite 14s, big 5s infinite 14s;
}

.svg-man-15{
  animation:man-glow 5s ease-in-out alternate infinite 15s, big 5s infinite 15s;
  -o-animation:man-glow 5s ease-in-out alternate infinite 15s, big 5s infinite 15s;
  -moz-animation:man-glow 5s ease-in-out alternate infinite 15s, big 5s infinite 15s;
  -ms-animation:man-glow 5s ease-in-out alternate infinite 15s, big 5s infinite 15s;
  -webkit-animation:man-glow 5s ease-in-out alternate infinite 15s, big 5s infinite 15s;
}

.svg-man-16{
  animation:man-glow 5s ease-in-out alternate infinite 16s, big 5s infinite 16s;
  -o-animation:man-glow 5s ease-in-out alternate infinite 16s, big 5s infinite 16s;
  -moz-animation:man-glow 5s ease-in-out alternate infinite 16s, big 5s infinite 16s;
  -ms-animation:man-glow 5s ease-in-out alternate infinite 16s, big 5s infinite 16s;
  -webkit-animation:man-glow 5s ease-in-out alternate infinite 16s, big 5s infinite 16s;
}

@-webkit-keyframes man-glow{
  0%{fill: #1abc9c;}
  50%{fill: #16a085;}
  100%{fill: #1abc9c;}
}
@-moz-keyframes man-glow{
  0%{fill: #1abc9c;}
  50%{fill: #16a085;}
  100%{fill: #1abc9c;}
}
@-o-keyframes man-glow{
  0%{fill: #1abc9c;}
  50%{fill: #16a085;}
  100%{fill: #1abc9c;}
}
@-ms-keyframes man-glow{
  0%{fill: #1abc9c;}
  50%{fill: #16a085;}
  100%{fill: #1abc9c;}
}
@keyframes man-glow {
  0%{fill: #1abc9c;}
  50%{fill: #16a085;}
  100%{fill: #1abc9c;}
}
@-webkit-keyframes big{
  0% {-webkit-transform: scale(0);}
  50%{-webkit-transform: scale(1);}
  100%{-webkit-transform: scale(0);}
}
@-moz-keyframes big{
  0%{-moz-transform: scale(0);}
  50%{-moz-transform: scale(1);}
  100%{-moz-transform: scale(0);}
}
@-o-keyframes big{
  0%{-o-transform: scale(0);}
  50%{-o-transform: scale(1);}
  100%{-o-transform: scale(0);}
}
@-ms-keyframes big{
  0%{-ms-transform: scale(0);}
  50%{-ms-transform: scale(1);}
  100%{-ms-transform: scale(0);}
}
@keyframes big{
  0%{transform: scale(0);}
  50%{transform: scale(1);}
  100%{transform: scale(0);}
}
@-webkit-keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
  100%{-moz-transform: rotate(360deg);}
}
@-o-keyframes spin{
  100% {-o-transform: rotate(360deg);}
}
@-ms-keyframes spin{
  100%{-ms-transform: rotate(360deg);}
}
@keyframes spin{
  100%{transform: rotate(360deg);}
}

/* Europe: the svg element*/
.container-europe{
  background:#34495e;
  height:650px;
  padding-top:0;
  position:relative;
  width:100%;
}
.svg-europe{
  fill: #2ecc71;
  height:500px;
  left:0;
  margin-left:144px;
  position:absolute;
  top:100;
  width:500px;
}
.svg-europe:hover{
  stroke:#abebc6;
  stroke-dasharray:0;
  stroke-dashoffset:800px;
  stroke-linecap:round;
  stroke-width:3px;
}
.svg-europe:hover{
  transition: stroke-dashoffset .5s linear infinite;
  -o-transition: stroke-dashoffset .5s linear infinite;
  -moz-transition: stroke-dashoffset .5s linear infinite;
  -ms-transition: stroke-dashoffset .5s linear infinite;
  -webkit-transition: stroke-dashoffset .5s linear infinite;
}

/* Stat-Europe: The svg element */
.svgdonut{
  height:439px;
  left:0;
  margin-left:144px;
  position: absolute;
  top:100;
  width:100%;
}
.circle-back {
  fill:none;
  stroke:#ecf0f1;
  stroke-width:50px;
}
.circle-front {
  fill:none;
	stroke:#fc0023;
	stroke-width:40px;
	/* 2 * Math.PI * radius + 1  */
	stroke-dasharray: 439px; /*629*/
	stroke-dashoffset: 439px;/*629*/

	transition: stroke-dashoffset .5s ease;
	-o-transition: stroke-dashoffset .5s ease;
	-moz-transition: stroke-dashoffset .5s ease;
	-ms-transition: stroke-dashoffset .5s ease;
	-webkit-transition: stroke-dashoffset .5s ease;
}
.svgdonut.eleven-percent-filled .circle-front {
	/* 439 * (1 - 0.11) */
	stroke-dashoffset:390px; /* based on 439 */
}
.textpercentage{
	font-family: "Oswald", sans-serif;
	font-size: 1.1em;
}
.greentext{
	fill:#2ecc71;
}

/* Title - Header1
========================================================================== */
.container-europe h1,
.container-america h1,
.container-asia h1,
.container-oceania h1 {
  color: #ecf0f1;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2.1em;
  letter-spacing: 0.03em;
  line-height: 1.3em;
  margin-bottom: 1.5rem;
  margin-top: 0rem;
  text-align: center;
}

.container-europe p {
  color: #ecf0f1;
  font-size: 133%;
  margin: 0 auto;
  max-width: 40rem;
  text-align: center;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 2rem auto;
  width: 3rem;
}
@media (min-width: 40rem) {
  hr {
    margin: 2.5rem auto;
  }
}


/* Intro
========================================================================== */
.title {
  background: #3498db;
}

/* Header
========================================================================== */
header {
  text-align: center;
}

.intro {
  margin: 2rem 0;
}

@media (min-width: 40rem) {
  .intro {
    margin: 4rem 0;
  }
}

header h1 {
  border: 2px dotted #fff;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
  padding: .4rem .6rem;
  text-transform: uppercase;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

header p {
  color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
}

header a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: underline;
}

header a:hover {
  text-decoration: none;
}

.mobile {
  margin: 0 auto;
  max-width: 150px;
}

@media (min-width: 40rem) {
  .mobile {
    max-width: 250px; } }
