<div class="row">

    <div class="col-md-6">
        {{snapsvg-clock-n-weather}}
    </div>

    <div class="col-md-3">
        <br>
        <br>
        {{bs-list-group
            contentBinding="weatherHighlights"
            selectedBinding="selectedWeatherHighlights"}}
    </div>

</div>


{{outlet}}
