<p>
  Source of inspiration for this example:
  <a href="http://goinkscape.com/how-to-create-a-working-clock-in-inkscape/" target="_blank">
    Tutorial - How to Create a Working Clock in Inkscape by Aaron Nieze
  </a>
</p>

{{snapsvg-clock-aaron-nieze}}

{{outlet}}
